{{> header}}

<body id="page-top">
    {{> navbar}}
                    <section class="resume-section" id="about">
                <div class="resume-section-content">
                    <center>
                    <h1 class="mb-0">Certificaciones
                        <span class="text-primary">UDEMY</span>
                    </h1>
                    <hr style="border:15px;"><hr style="border:2px;">
                    <div class="subheading mb-5">Master en Python: Aprender Python 3, Django, Flask y Tkinter</div>
                    <p class="lead mb-5">Cursando.</p>

                    <img src="./assets/img/master.png" width="300">
                    <br><br>
                    <div class="subheading mb-5">Descripción del curso</div>
                    <p class="lead mb-5"></p>
                    <ul>
                        <li>47 secciones</li>
                        <li>326 clases</li>
                        <li>30 h 19 m de duración total</li>
                    </ul></p>

                    <hr style="border:15px;"><hr style="border:2px;">
                    <div class="subheading mb-5">Desarrollo Web Completo con HTML5, CSS3, JS AJAX PHP y MySQL</div>
                    <p class="lead mb-5">Cursando.</p>

                    <img src="./assets/img/dw.png" width="300">
                    <br><br>
                    <div class="subheading mb-5">Descripción del curso</div>
                    <p class="lead mb-5"></p>
                    <ul>
                        <li>88 secciones</li>
                        <li>800 clases</li>
                        <li>88 h 47 m de duración total</li>
                    </ul></p>
                    <hr style="border:15px;"><hr style="border:2px;">
                    <div class="subheading mb-5">Conviértete en un Desarrollador Web desde cero Paso a Paso</div>
                    <p class="lead mb-5">Cursando.</p>

                    <img src="./assets/img/dw1.jpg" width="300">
                    <br><br>
                    <div class="subheading mb-5">Descripción del curso</div>
                    <p class="lead mb-5"></p>
                    <ul>
                        <li>13 secciones</li>
                        <li>410 clases</li>
                        <li>101 h 37 m de duración total</li>
                    </ul></p>
                    <hr style="border:15px;"><hr style="border:2px;">
                    <div class="subheading mb-5">Crea sistemas Ecommerce con PHP 7 con pagos de PAYPAL y PAYU</div>
                    <p class="lead mb-5">Cursando.</p>

                    <img src="./assets/img/ecomm.jpg" width="300">
                    <br><br>
                    <div class="subheading mb-5">Descripción del curso</div>
                    <p class="lead mb-5"></p>
                    <ul>
                        <li>15 secciones</li>
                        <li>293 clases</li>
                        <li>81 h 39 m de duración total</li>
                    </ul></p>
                    <hr style="border:15px;"><hr style="border:2px;">
                    <div class="subheading mb-5">Desarrollo de sistemas web en PHP 7 POO, MySQL, Jquery Ajax</div>
                    <p class="lead mb-5">Cursando.</p>

                    <img src="./assets/img/php.jpg" width="300">
                    <br><br>
                    <div class="subheading mb-5">Descripción del curso</div>
                    <p class="lead mb-5"></p>
                    <ul>
                        <li>17 secciones</li>
                        <li>86 clases</li>
                        <li>12 h 59 m de duración total</li>
                    </ul></p>
                    <hr style="border:15px;"><hr style="border:2px;">
                    <div class="subheading mb-5">Desarrollo Web Completo con HTML5, CSS3, JS AJAX PHP y MySQL</div>
                    <p class="lead mb-5">Cursando.</p>

                    <img src="./assets/img/dw.png" width="300">
                    <br><br>
                    <div class="subheading mb-5">Descripción del curso</div>
                    <p class="lead mb-5"></p>
                    <ul>
                        <li>88 secciones</li>
                        <li>800 clases</li>
                        <li>88 h 47 m de duración total</li>
                    </ul></p>
                    <hr style="border:15px;"><hr style="border:2px;">
                    <h1 class="mb-0">Certificaciones
                        <span class="text-primary">CISCO</span>
                    </h1>
                    <hr style="border:15px;"><hr style="border:2px;">
                    <div class="subheading mb-5">Introduction to Packet Tracer</div>
                    <p class="lead mb-5">finalizado.</p>

                    <img src="./assets/img/rccisco.PNG" width="900">
                    <br><br>
                    {{!-- <div class="subheading mb-5">Descripción del curso</div>
                    <p class="lead mb-5"></p>
                    <ul>
                        <li>47 secciones</li>
                        <li>326 clases</li>
                        <li>30 h 19 m de duración total</li>
                    </ul></p> --}}

                    <hr style="border:15px;"><hr style="border:2px;">
                    </center>
                </div>
            </section>
            <hr class="m-0" />
    </div>
</body>
{{> footer}}
</html>