{{> header}}

<body id="page-top">
    {{> navbar}}
                    <section class="resume-section" id="about">
                <div class="resume-section-content">
                    <center>
                    <h1 class="mb-0">Estudios</h1>
                    <hr style="border:15px;"><hr style="border:2px;">
                    <div class="subheading mb-5">Primaria:</div>
                    <p class="lead mb-5">Unidad Educativa "Río Quininde".</p>
                    <p class="lead mb-5">Estudios finalizados.</p>
                    <p class="lead mb-5">Inicio: 2005</p>
                    <p class="lead mb-5">Culminación: 2011</p>
                    <img src="./assets/img/uerq.jpg">
                    <hr style="border:15px;"><hr style="border:2px;">
                    <div class="subheading mb-5">Secundaria:</div>
                    <p class="lead mb-5">Unidad Educativa "Cuyabeno".</p>
                    <p class="lead mb-5">Estudios finalizados.</p>
                    <p class="lead mb-5">Inicio: 2011</p>
                    <p class="lead mb-5">Culminación: 2017</p>
                    <img src="./assets/img/uec.jpg">
                    <hr style="border:15px;"><hr style="border:2px;">
                    <div class="subheading mb-5">Universidad:</div>
                    <p class="lead mb-5">Universidad Politécnica Salesiana</p>
                    <p class="lead mb-5">Cursando.</p>
                    <p class="lead mb-5">Inicio: 2017</p>
                    <img src="./assets/img/ups.jpg" width="300">
                    <hr style="border:15px;"><hr style="border:2px;">
                    <h1 class="mb-0">Idiomas</h1>
                    <hr style="border:15px;"><hr style="border:2px;">
                    <div class="subheading mb-5">Español:</div>
                    <p class="lead mb-5">Idioma Natal</p>
                    <p class="lead mb-5">Nivel: Dominadisimo.</p>
                    <hr style="border:15px;"><hr style="border:2px;">
                    <div class="subheading mb-5">Ingles:</div>
                    <p class="lead mb-5">Idioma Secundario</p>
                    <p class="lead mb-5">Nivel: Intermedio.</p>
                    <hr style="border:15px;"><hr style="border:2px;">
                    <div class="subheading mb-5">Japones:</div>
                    <p class="lead mb-5">Idioma Terceario</p>
                    <p class="lead mb-5">Nivel: Básico de los Animes.</p>
                    <hr style="border:15px;"><hr style="border:2px;">
                    </center>
                </div>
            </section>
            <hr class="m-0" />
            </div>
</body>

{{> footer}}
</html>