{{> header}}

<body id="page-top">
    {{> navbar}}
    <section class="resume-section" id="about">
                <div class="resume-section-content">
                    <h1 class="mb-0">
                        Richard
                        <span class="text-primary">Camacho</span>
                    </h1>
                    <div class="subheading mb-5">
                        Hola, Bienvenidos a mi Blog:
                        {{!-- <a href="mailto:name@email.com">name@email.com</a> --}}
                    </div>
                    <p class="lead mb-5">Mi nombre es Richard Enrique Camacho Cabrera, y este es un Blog creado con el fin de demostrar mis habilidades y conocimientos adquiridos en la asignatura de Plataformas Web, quienes estan a cargo del docente Rodrigo Tufiño.</p>
                    
                </div>
            </section>
            <hr class="m-0" />
    {{!-- <div class="p-5 mb-4 bg-light rounded-3"></div>
        <div class="resume-section-content">
            <h1 class="display-5 fw-bold">Hola, Bienvenidos a mi Blog:</h1>
            
            <p class="col-md-8 fs-4">Mi nombre es Richard Enrique Camacho Cabrera, y este es un Blog creado con el fin de demostrar mis habilidades y conocimientos adquiridos en la asignatura de Plataformas Web, quienes estan a cargo del docente Rodrigo Tufiño.</p>
        </div>
    </div> --}}
    
</body>
{{> footer}}
</html>