{{> headeri}}
<body>
    <header role="banner">
        <nav role="navigation">
            <ul>
                <li class="github">
                    <a rel="external" href="https://github.com/RC2301/Blog-Personal.git" title="Github">
                        <svg class="fa-github">
                <use xlink:href="#fa-github"></use>
              </svg>
                        <em>WebSlides</em>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main role="main">
        <article id="webslides" class="vertical">
            <section>
                <span class="background" style="
              background-image: url('https://cdn6.f-cdn.com/contestentries/1108779/22600774/5997b968a71c2_thumb900.jpg');
            "></span>
                <div class="wrap aligncenter" id="as">
                    <br>
                    <h1><strong>BLOG PERSONAL.</strong></h1>
                    <p class="text-intro">
                        Blog personal de la asignatura de Plataformas Web.
                    </p>
                    <p class="text-intro">
                        Docente: Ing. Rodrigo Tufiño.
                    </p>
                    <p>
                        <a href="/home" class="button zoomIn" title="Blog">Inicio
                        </a>
                    </p>
                    <br>
                </div>
            </section>
        </article>
    </main>
    <script src="./assets/js/webslides.js"></script>
    <script>
        window.ws = new WebSlides();
    </script>
    <script defer src="./assets/js/svg-icons.js"></script>
</body>
</html>