{{> header}}

<body id="page-top">
    {{> navbar}}
                    <section class="resume-section" id="about">
                <div class="resume-section-content">
                    <center>
                    <h1 class="mb-0">Proyectos
                        <span class="text-primary">Universitarios</span>
                    </h1>
                    <hr style="border:15px;"><hr style="border:2px;">
                    <div class="subheading mb-5"><a href="https://github.com/RC2301/Proyecto_Integrador_5to_Nivel.git">Nacimientos en Ecuador</a></div>
                    <p class="lead mb-5">Descripción:</p>
                    <p class="lead mb-5">Proyecto Integrador de Quito Nivel. Nacimientos en Ecuador. (Gestión de Base de Datos, Sistemas de Información, Software Libre.).</p>
                    <div class="subheading mb-5">Lenguajes</div>
                    <ul class="list-inline dev-icons">
                        <li class="list-inline-item"><i class="fab fa-html5"></i> 48.1%</li>
                        <li class="list-inline-item"><i class="fab fa-css3-alt"></i> 34.2%</li>
                        <li class="list-inline-item"><i class="fab fa-java"></i> 17.7%</li>
                    </ul>
                    <hr style="border:15px;"><hr style="border:2px;">
                    <div class="subheading mb-5"><a href="https://github.com/RC2301/Pro_Hiper_Web_Arrendamiento.git">Servicio de Arrendamiento</a></div>
                    <p class="lead mb-5">Descripción:</p>
                    <p class="lead mb-5">Sitio Web que se enfoque al arrendamiento de departamentos o casas.</p>
                    <div class="subheading mb-5">Lenguajes</div>
                    <ul class="list-inline dev-icons">
                        <li class="list-inline-item"><i class="fab fa-html5"></i> 68.0%</li>
                        <li class="list-inline-item"><i class="fab fa-css3-alt"></i> 31.3%</li>
                        <li class="list-inline-item"><i class="fab fa-js-square"></i> 0.7%</li>
                    </ul>
                    <hr style="border:15px;"><hr style="border:2px;">
                    <div class="subheading mb-5"><a href="https://github.com/RC2301/Proyecto_1P_PW.git">App Estadistica</a></div>
                    <p class="lead mb-5">Descripción:</p>
                    <p class="lead mb-5">Este es el proyecto del primer parcial en la materia de Plataformas Web, del Itinerario de Software, desarrollado por Richard Camacho.</p>
                    <div class="subheading mb-5">Lenguajes</div>
                    <ul class="list-inline dev-icons">
                        <li class="list-inline-item"><i class="fab fa-js-square"></i> 50%</li>
                        <li class="list-inline-item"><i class="fab fa-node-js"></i> 50%</li>
                    </ul>
                    <hr style="border:15px;"><hr style="border:2px;">
                    <div class="subheading mb-5"><a href="https://github.com/RC2301/MachineLearning.git">Analisis de Sentimientos</a></div>
                    <p class="lead mb-5">Descripción:</p>
                    <p class="lead mb-5">Este es el proyecto del primer parcial en la materia de Machine Learning, una Web aplicando conseptos de inteligencia artificial, desarrollado por Richard Camacho.</p>
                    <div class="subheading mb-5">Lenguajes</div>
                    <ul class="list-inline dev-icons">
                        <li class="list-inline-item"><i class="fab fa-html5"></i> 7.1%</li>
                        <li class="list-inline-item"><i class="fab fa-css3-alt"></i> 48.9%</li>
                        <li class="list-inline-item"><i class="fab fa-js-square"></i> 40.3%</li>
                        <li class="list-inline-item"><i class="fab fa-python"></i> 3.7%</li>
                    </ul>
                    <hr style="border:15px;"><hr style="border:2px;">
                    <div class="subheading mb-5"><a href="https://github.com/RC2301/NodeJS-05-Clima.git">App del Clima</a></div>
                    <p class="lead mb-5">Descripción:</p>
                    <p class="lead mb-5">App que permite ver datos del Clima por consola utilizando NodeJS, realizado en la clase de Plataformas Web del Itinerario de Software de la Universidad Politécnica Salesiana.</p>
                    <div class="subheading mb-5">Lenguajes</div>
                    <ul class="list-inline dev-icons">
                        <li class="list-inline-item"><i class="fab fa-js-square"></i> 50%</li>
                        <li class="list-inline-item"><i class="fab fa-node-js"></i> 50%</li>
                    </ul>
                    <hr style="border:15px;"><hr style="border:2px;">
                    <h1 class="mb-0">Proyectos
                        <span class="text-primary">Personales</span>
                    </h1>
                    <hr style="border:15px;"><hr style="border:2px;">
                    <div class="subheading mb-5"><a href="https://github.com/RC2301/Cuenta_Regresiva_RC.git">Cuenta Regresiva</a></div>
                    <p class="lead mb-5">Descripción:</p>
                    <p class="lead mb-5">Este proyecto es personal, una cuenta regresiva para un evento muy especial y con el fin de aprender acerca de JavaScript y poder realizar un pequeño detalle a mi pareja(Fanny Flores).</p>
                    <div class="subheading mb-5">Lenguajes</div>
                    <ul class="list-inline dev-icons">
                        <li class="list-inline-item"><i class="fab fa-html5"></i> 12.4%</li>
                        <li class="list-inline-item"><i class="fab fa-css3-alt"></i> 37.2%</li>
                        <li class="list-inline-item"><i class="fab fa-js-square"></i> 50.4%</li>
                    </ul>
                    <hr style="border:15px;"><hr style="border:2px;">
                    </center>
                </div>
            </section>
            <hr class="m-0" />
    </div>
</body>
{{> footer}}
</html>