{{> header}}

<body id="page-top">
    {{> navbar}}
<section class="resume-section" id="skills">
                <div class="resume-section-content">
                    <center>
                    <h2 class="mb-5">Skills</h2>
                    <div class="subheading mb-3">Lenguajes de Programacion y Herramientas</div>
                    <ul class="list-inline dev-icons">
                        <li class="list-inline-item"><i class="fab fa-html5"></i></li>
                        <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
                        <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
                        <li class="list-inline-item"><i class="fab fa-node-js"></i></li>
                        <li class="list-inline-item"><i class="fab fa-wordpress"></i></li>
                        <li class="list-inline-item"><i class="fab fa-npm"></i></li>
                        <li class="list-inline-item"><i class="fab fa-java"></i></li>
                        <li class="list-inline-item"><i class="fab fa-php"></i></li>
                        <li class="list-inline-item"><i class="fab fa-python"></i></li>
                        <li class="list-inline-item"><i class="fas fa-database"></i></li>
                    </ul>
                
                    </center>
                </div>
            </section>
            <hr class="m-0" />
            </div>
</body>

{{> footer}}
</html>